* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background-image: url("images/pink-floral.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  background-color: #ffe6f0;
  overflow: hidden;
}

/* Login page styles */
.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid #000;
}

button[type="submit"] {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.login_description {
  font-size: 14px;
  color: #ccc;
  margin: 10px 0;
  padding: 0 10px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

/* Birthday page styles */
.song {
  visibility: hidden;
}

.container {
  /* PERBAIKAN UNTUK MEMASTIKAN DI TAMPILAN PENUH */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  cursor: default;
  /* Ganti dari 'pointer' karena sekarang otomatis */

  margin: 0 auto;
  overflow: hidden;
  position: relative;

  text-align: center;
  visibility: hidden;
  font-family: "Times New Roman", Times, serif;
}

.container>div {
  left: 0;
  right: 0;
  top: 20vh;
  position: absolute;
}

.one {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}

.three {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.four .text-box {
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 600px;
  font-family: "Times New Roman", Times, serif;
}

.text-box p {
  margin: 0;
  text-align: left;
  /* FONT SIZE UNTUK BAGIAN FOUR */
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
}

.text-box span {
  visibility: hidden;
  font-family: "Times New Roman", Times, serif;
}

.text-box .fake-btn {
  background-color: rgb(21, 161, 237);
  border-radius: 5px;
  bottom: -50px;
  right: 5px;
  position: absolute;
  color: #fff;
  padding: 1.2rem 1rem;
  font-family: "Times New Roman", Times, serif;
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Times New Roman", Times, serif;
}

.idea-3 strong {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
  font-family: "Times New Roman", Times, serif;
}

.five .idea-5 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
}

.idea-6 span {
  font-size: 15rem;
  font-family: "Times New Roman", Times, serif;
}

.six {
  position: relative;
  top: 10vh;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
}

.six img {
  display: inline-block;
  height: 350px;
  max-width: 100%;
  border-radius: 14px;
}

.six .hat {
  position: absolute;
  left: 41.5%;
  top: -35%;
  width: 60px;
  rotate: 14deg;
}

.ballons img {
  display: inline-block;
  position: absolute;
}

.ballons img:nth-child(even) {
  left: -10%;
}

.ballons img:nth-child(odd) {
  right: -10%;
}

.ballons img:nth-child(3n + 0) {
  left: 30%;
}

.seven .eight {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.eight svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.eight svg:nth-child(1) {
  fill: #bd6ecf;
  left: 5vw;
  top: 7vh;
}

.eight svg:nth-child(2) {
  fill: #7dd175;
  left: 35vw;
  top: 23vh;
}

.eight svg:nth-child(3) {
  fill: #349d8b;
  left: 23vw;
  top: 33vh;
}

.eight svg:nth-child(4) {
  fill: #347a9d;
  left: 57vw;
  top: 43vh;
}

.eight svg:nth-child(5) {
  fill: #c66053;
  left: 7vw;
  top: 68vh;
}

.eight svg:nth-child(6) {
  fill: #bfaa40;
  left: 77vw;
  top: 42vh;
}

.eight svg:nth-child(7) {
  fill: #e3bae8;
  left: 83vw;
  top: 68vh;
}

.eight svg:nth-child(8) {
  fill: #8762cb;
  left: 37vw;
  top: 86vh;
}

.eight svg:nth-child(9) {
  fill: #9a90da;
  left: 87vw;
  top: 94vh;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

.wish h5 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 10px 0 0;
  font-family: "Times New Roman", Times, serif;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}

#replay {
  cursor: pointer;
  z-index: 3;
  font-family: "Times New Roman", Times, serif;
}

/* Media Queries */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 40%;
  }
}

@media screen and (max-height: 800px) {
  .six .hat {
    left: 37%;
  }
}

@media screen and (max-height: 700px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-width: 500px) {
  .login_form {
    width: 350px;
    height: 250px;
  }

  .container {
    width: 100%;
    padding: 0 10px;
  }

  .four .text-box {
    width: 90%;
  }

  /* Atur font-size di mobile juga jika diperlukan */
  .text-box p {
    font-size: 1rem;
  }

  .text-box .fake-btn {
    bottom: -50px;
    right: 5px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
    font-family: "Times New Roman", Times, serif;
  }

  .six .hat {
    /* top: -20px; */
    width: 50px;
  }

  .wish-hbd {
    font-size: 2.2em;
    font-family: "Times New Roman", Times, serif;
  }

  .wish h5 {
    font-size: .8rem;
    font-family: "Times New Roman", Times, serif;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: "Times New Roman", Times, serif;
  }
}
